body {
 color: black;
 background-color: #F1FDDD;
 /*
 background-image: url("tausta.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 */  
}

a {font-size: 20px}

.img-fluid { 
	width: auto; 
	height: auto;
}

.btn{
	color: black;
	background-color:gold;
}

img {
  border-radius: 50%;
}